.table-container {
    margin: 16px;
  }
  
  .table-title {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 24px;
  }
  
  .mat-card {
    justify-items: center;
    
    
  }



  